/* ------------------------- GLOBAL -------------------------*/

:root {
    --main-background-color: #f6f6f6;
    --main-orange: #ed7d2b;
    --main-medium-blue: #2b478b;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Exo 2", sans-serif;
    background-color: var(--main-background-color);
    font-size: 1.6rem;
  }
/*-------LINKS--------*/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  font-size: 2rem;
}

a:active {
  text-decoration: none;
  color:  var(--main-orange);
}

a{
  color: var(--main-orange) !important;
  padding-left: 5%;
}

a.link-active{
  text-decoration:underline;
}
  
/* ------------------------- NAVBAR ------------------------- */
  nav#navbar {
    background-color: var(--main-orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    font-size: 2rem;
    color: white;
  
    position: fixed;
    width: 100%;
    z-index: 5;
    padding: 0% 15%;
  }
  
  nav img#logo-nome {
    width: 30rem;
    max-width: 100%;
    padding: 10px 20px;
  }
  
  nav ul.navlist li.navitem {
    display: inline;
    padding-right: 30px;
  }
  
  nav div.btn-login {
    padding-right: 20px;
  }
  
  /* ------------------------- MAIN -------------------------*/
  
  main {
    padding-top: 9rem;
    /* margin: 0 15rem; */
    flex-wrap: wrap;
  }
  
  .home-text-container .home-title {
    position: absolute;
    width: auto;
    height: 43px;
    left: 110px;
  
    font-family: Expletus Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
  
    color: #ffffff;
  }
  
  .home-text-container .home-subtitle {
    position: absolute;
    width: 730px;
    height: 75px;
    left: 110px;
    top: 170px;
  
    font-family: Expletus Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 78px;
  
    color: #ffffff;
  }
  
  /* ------------------------- HEADER ------------------------- */
  #header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2.5rem;
    justify-content: space-around;
    background-color: var(--main-orange);
    color: white;
    height: 222.93px;
  }
  
  /* .header-text {
    margin-left: 30rem;
  }
  .header-text .header-welcome {
    font-size: 2rem;
  }
  .header-text .header-name {
    font-size: 5rem;
  }
  
  .header-creditos {
      margin-right: 16rem;
  }
  .header-creditos .header-text {
    font-size: 2rem;
  }
  .header-creditos .header-valor {
    font-size: 5rem;
  }
  
  .header-name {
    font-size: 2.4rem;
    width: auto;
  }
  .header-text .header-line {
    border: 3px solid;
    width: 30%;
  } */
  
  /* ------------------------- PRODUCTS HEADER ------------------------- */
  
  .title {
    text-align: start;
    padding-top: 38px;
    padding-left: 5%;
    color: var(--main-orange);
  }
  
  .thin-line {
    color: var(--main-orange);
    margin: 10px auto;
    border: 1px solid;
    width: 90%;
  }
  

  /* ------------------------------  Alunos ------------------------- */
  
  .titleTab {
    text-align: start;
    padding-top: 3rem;
    padding-left: 5%;
    font-size: 50px;
    color: var(--main-orange);
  }
  
  .alunos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .aluno {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    text-align: center;
    width: 50rem;
    height: 15rem;
    padding: 0px;
    border-radius: 3rem;
    box-shadow: 0 0 20px 10px #d9d9d9;
    position: relative;
  }
  
  .aluno img {
    padding: 1rem;
  }
  
  .aluno img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .aluno-text {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    color: #ED7D2B;
    
  }

  .aluno-subtitle {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: start;
  }

  .aluno-text h1 {
      justify-items: end;
  }
  
  .aluno-text h1,
  h2,
  h5 {
    margin: 0.2rem 0.2rem;
  }

  .close1 {
    position: absolute;
    top: 15px;
    left:0;
    color: grey;
    text-decoration: none;
    font-size: 2rem;
  }
.deposit{
  position: absolute;
  bottom:15px;
  right:15px;
}
.block-food{
  position: absolute;
  bottom:15px;
  right:45px;
}
.extrato{
  position: absolute;
  bottom:15px;
  right:70px;
}
/* ------------------------------ MODAL ------------------------- */
.overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .7);
  z-index: 10;
}

.overlay:target {
  visibility: visible;
}

.modal {
  position: relative;
  width: 300px;
  max-width: 80%;
  background: white;
  border-radius: 8px;
  padding: 1em 2em;
  text-align: center;
}

.modal .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: grey;
  text-decoration: none;
  font-size: 2rem;
}

.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white !important;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width:100px;
  transition-duration: 0.4s;
}

.button:active,.button:hover{
  color: white !important;
}

.button-red {background-color: #f44336;} /* Red */
.button-blue {background-color: var(--main-medium-blue);width:110px} /* Red */

.modal input[type=text],.modal input[type=number], .modal select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal input[type=submit]:hover {
  background-color: #45a049;
}
