<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../CSS/extrato_historico.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <title>Dona Maria</title>
  </head>

  <body>
    <header >
      <nav id="navbar">
        <a id="logo-link" href="../index.html"> 
          <img
            src="../images/logo-nome.png"
            alt="Dona Maria Cantina Escolar"
            id="logo-nome"
          />
        </a>  
        <!-- <ul class="navlist">
          <li class="navitem">Home</li>
          <li class="navitem">Sobre Nós</li>
        </ul>
        <div class="btn-login">Login</div> -->
      </nav>
    </header>

    <main id="main">
      <!-- ----------  Header ---------- -->
      <section id="header">
        <div class="header-text">
          <h1 class="header-welcome">Aluno(a),</h1>
          <h2 class="header-name"></h2>
        </div>
        <!-- <div class="header-creditos">
          <h1 class="">Temos 479 alunos <br>cadastrados</h1>
        </div> -->
      </section>

      <!-- ----------  Tabs ---------- -->
      <section>
        <div class="tab">
            <button
            id="defaultOpen"
            class="tablinks"
            onclick="openTab(event, 'Extrato')"
        >
            Extrato
            <hr class="tabLine" />
          </button>
          <button class="tablinks" onclick="openTab(event, 'Consumo')">
            Consumo
            <hr class="tabLine" />
          </button>
          
        </div>

      
        
        <!-- ----------  Extrato ---------- -->
        <div id="Extrato" class="tabcontent">
            <div class="table-container">
               
            <table id="customers">
                <tr>
                    <th>Data</th>
                    <th>Valor do depósito</th>
                </tr>
                
                <tr>
                    <td>15/09/2021</td>
                    <td>R$ 25,00</td>
                </tr> <!--******************** -->
                <tr>
                    <td>15/09/2021</td>
                    <td>R$ 25,00</td>
                </tr> <!--******************** -->
                <tr>
                    <td>15/09/2021</td>
                    <td>R$ 25,00</td>
                </tr> <!--******************** -->
                <tr>
                    <td>15/09/2021</td>
                    <td>R$ 25,00</td>
                </tr> <!--******************** -->
                <tr>
                    <td>15/09/2021</td>
                    <td>R$ 25,00</td>
                </tr> <!--******************** -->
                
                
            </table>
            </div>
        </div>
        <!-- ----------  Consumo ---------- -->
        <div id="Consumo" class="tabcontent">
          <div class="table-container">
              <div class="table-search">
                <form class="search-form" action="">
                  <label class="table-title"for="fname">Inicio:</label>
                  <input type="date" id="fname" name="firstname" placeholder="Data de inicio...">

                  <label class="table-title"for="fname">Fim:</label>
                  <input type="date" id="fname" name="firstname" placeholder="Data final...">
              
                  <input type="submit" value="Pesquisar">
                </form>
                <div>
                  <!-- <a href="./cadastrar_aluno.html" class="options">+ Novo Aluno</a> -->
                  <!-- <a href="#" class="options">+ Extrato</a> -->
                  <!-- <a href="#" class="options">+Saldo</a> -->
                </div>
              </div>
              <table id="customers">
                <tr>
                    <th>Código</th>
                    <th>Tipo</th>
                    <th>Nome</th>
                    <th>Ingredientes</th>
                    <th>Fornecedor</th>
                    <th>Foto</th>
                    <th>Preço</th>
                </tr>
                
                <tr>
                    <td>01</td>
                    <td>Comida</td>
                    <td>Hamburguer</td>
                    <td>Pão,hamburguers,queijo,salada</td>
                    <td>x</td>
                    <td>06/05/2021</td>
                    <td>R$ 5,00</td>
                    
                </tr> <!--******************** -->
                <tr>
                    <td>01</td>
                    <td>Comida</td>
                    <td>Hamburguer</td>
                    <td>Pão,hamburguers,queijo,salada</td>
                    <td>x</td>
                    <td>06/05/2021</td>
                    <td>R$ 5,00</td>
                    
                </tr> <!--******************** -->
                <tr>
                    <td>01</td>
                    <td>Comida</td>
                    <td>Hamburguer</td>
                    <td>Pão,hamburguers,queijo,salada</td>
                    <td>x</td>
                    <td>05/05/2021</td>
                    <td>R$ 5,00</td>
                    
                </tr> <!--******************** -->
                <tr>
                    <td>01</td>
                    <td>Comida</td>
                    <td>Hamburguer</td>
                    <td>Pão,hamburguers,queijo,salada</td>
                    <td>x</td>
                    <td>04/05/2021</td>
                    <td>R$ 5,00</td>
                    
                </tr> <!--******************** -->
                
                
                
              </table>
          </div>
        </div>


      </section>
    </main>

    <footer id="footer"></footer>

    <script
      src="https://kit.fontawesome.com/ffb9df773d.js"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="./JS/index.js"></script> -->
    <script src="../JS/extrato_historico.js"></script>
  </body>
</html>
